body {
    background: #252525;
  }
  .lab__header {
    margin: auto;
    width: 1920px;
    height: 1072px;
    background-image: url("Foto/hero-bg.jpg.png");
     /* border: 2px solid red; */
       display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
    }
    .header--logo{
margin-top:285px ;
    }
    .header--head {
        width: 610px;
        height: 105px;
        margin-top:100px ;     
font-size: 54px;
letter-spacing: 9px;
color: #ffffff;
font-weight: 700;
font-family: "Lato";
text-align: center;
text-transform: uppercase;
    }
    .header--text {
margin-top:50px ;
width: 580px;
height: 70px;
font-size: 15px;
letter-spacing: 1px;
line-height: 29px;
color: #ffffff;
font-weight: 400;
font-family: "Lato";
text-align: center;
    }
    .header--scroll {
        margin-top:245px ; 
    }
    .lab__about {
        margin: auto;
        width: 1920px;
        height: 630px;
        background-color: #FFFFFF;
        display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
    }
    .about__container {
        margin-top: 160px;
        width: 900px;
        height: 330px;
        border: 2px solid black;
        display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
    }
    .about__container--head {
        transform: translate(0,-50%);
        width: 500px;
        font-size: 34px;
letter-spacing: 5px;
color: #3c3c3c;
font-weight: 700;
font-family: "Lato";
text-align: center;
background-color:#FFFFFF;
    }
    .about__container--text {
        margin-top: 40px;
        width: 540px;
        height: 210px;
        font-size: 16px;
line-height: 24px;
color: #3c3c3c;
font-weight: 300;
font-family: "Lato";
text-align: center;
    }
    .about__container--text p {
        padding-top: 20px;
        text-align: center;
    }
    .lab__services {
        margin: auto;
        width: 1920px;
        height: 488px;
        background-image: url(Foto/services.jpg.png);
        display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
    
    }
    .services__container {
        margin-top: 128px;
        width: 900px;
        height: 252px;
        color: #ffffff;
        display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
    border:2px solid #ffffff;
        }
   
    .services__container--head {
        /* transform: translate(0,-50%); */
        /* border: 2px solid white; */
        width: 500px;
        font-size: 34px;
        letter-spacing: 5px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        
        }
        .services__container--text {
        margin-top: 30px;
        width: 550px;
        height: 210px;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Lato";
        text-align: center;
          }
    
